In [1]:
import numpy as np
import pandas as pd

In [11]:
filename = '/Users/csainsbury/Documents/data/test_drug_out_third100kIDs_allTime.txt'

chunksize = 10 ** 9
n = 4 # define the number of columns. will mean that entries with a comma in the drug description will end up without a code
with pd.read_csv(filename,
                 chunksize=chunksize,
                 usecols=range(n),
                 lineterminator='\n',
                 encoding_errors='ignore') as reader:
    for chunk in reader:
        print(chunk.shape)

In [12]:
n = 4 # define the number of columns. will mean that entries with a comma in the drug description will end up without a code
readfile = pd.read_csv(filename,
                      usecols=range(n),
                      lineterminator='\n',
                      encoding_errors='ignore')

In [13]:
readfile

,LinkId,PrescriptionDateTime,DrugCode,DrugName\r
0,2147697633,2013-02-26,d713,Amitriptyline Hydrochloride\r
1,2147697633,2013-02-26,blb1,Amlodipine\r
2,2147697633,2013-02-26,bu23,Aspirin\r
3,2147697633,2013-02-26,bxi3,Atorvastatin\r
4,2147697633,2013-02-26,da95,Citalopram Hydrobromide\r
...,...,...,...,...
65769034,2147700045,2015-09-09,c672,Symbicort\r
65769035,2147700045,2015-09-11,ecc2,Trimethoprim\r
65769036,2147700045,2015-09-11,dhed,Prochlorperazine Maleate\r
65769037,2147700045,2015-09-14,a24t,Peptac\r
65769038,2147700045,2015-09-21,dhed,Prochlorperazine Maleate\r

In [14]:
filepath = '/Users/csainsbury/Documents/data/third_out.csv'
readfile.to_csv(filepath)