In [1]:
import pandas as pd
import numpy as np

In [3]:
filename = '/Users/csainsbury/Documents/data/analysis_data.csv'
drugRx = pd.read_csv(filename)

In [4]:
drugRx

,LinkId,PrescriptionDateTime,comb,DeathDate,alive_flag,include,outcome
0,2147483663,2010-05-31,"c(\Doxazosin Mesilate\""; \""Fluoxetine Hydrochl...",NaN,1,1,0
1,2147483663,2010-06-30,"c(\Doxazosin Mesilate\""; \""Fluoxetine Hydrochl...",NaN,1,1,0
2,2147483663,2010-07-31,"c(\Amitriptyline Hydrochloride\""; \""Co-Codamol...",NaN,1,1,0
3,2147483663,2010-08-31,"c(\Amitriptyline Hydrochloride\""; \""Co-Codamol...",NaN,1,1,0
4,2147483663,2010-09-30,"c(\Amitriptyline Hydrochloride\""; \""Co-Codamol...",NaN,1,1,0
...,...,...,...,...,...,...,...
345155,2147683658,2016-10-31,"c(\Simvastatin\""; \""Tamsulosin Hydrochloride\"")""",NaN,1,1,0
345156,2147683658,2016-11-30,"c(\Simvastatin\""; \""Tamsulosin Hydrochloride\"")""",NaN,1,1,0
345157,2147683658,2016-12-31,"c(\Simvastatin\""; \""Tamsulosin Hydrochloride\"")""",NaN,1,1,0
345158,2147683658,2017-01-31,"c(\Simvastatin\""; \""Tamsulosin Hydrochloride\"")""",NaN,1,1,0
345159,2147683658,2017-02-28,"c(\Simvastatin\""; \""Tamsulosin Hydrochloride\"")""",NaN,1,1,0

In [22]:
# redefine df as dataframe with index datetime
df = Dsub.copy()
df['PrescriptionDateTime'] = pd.to_datetime(df['PrescriptionDateTime'])
df.index = df['PrescriptionDateTime']
del df['PrescriptionDateTime']

In [23]:
df_pad = df.groupby(['LinkId', 'DrugName'])\
            .resample('M')\
            .ffill()\
            .drop('LinkId', axis=1)
df_pad.head(100)

                                                                                DrugName
LinkId     DrugName                    PrescriptionDateTime
2147483663 Amitriptyline Hydrochloride 2010-07-31            Amitriptyline Hydrochloride
                                       2010-08-31            Amitriptyline Hydrochloride
                                       2010-09-30            Amitriptyline Hydrochloride
                                       2010-10-31            Amitriptyline Hydrochloride
                                       2010-11-30            Amitriptyline Hydrochloride
...                                                                                  ...
           Amoxicillin                 2014-11-30                            Amoxicillin
                                       2014-12-31                            Amoxicillin
                                       2015-01-31                            Amoxicillin
                                       2015-02-28                            Amoxicillin
                                       2015-03-31                            Amoxicillin

[100 rows x 1 columns]

In [24]:
x = df_pad['DrugName']

In [25]:
x = x.to_frame()

In [26]:
type(x)

pandas.core.frame.DataFrame

In [27]:
filepath = '/Users/csainsbury/Documents/data/x_out.csv'
x.to_csv(filepath)

In [32]:
df_pad.reset_index(inplace=False)

ValueError: cannot insert PrescriptionDateTime, already exists