### cbg data analysis - python rewrite

In [4]:
import numpy as np
import pandas as pd
import glob
import xgboost as xgb

from numpy import asarray
from pandas import read_csv
from pandas import DataFrame
from pandas import concat
from sklearn.metrics import mean_absolute_error
from xgboost import XGBRegressor
from matplotlib import pyplot

In [164]:
dataset = 'huge'
days_n = 21
minimum_n_cbgs = days_n + 2

hypothreshold = 3

In [165]:
load_path = "/media/psf/Home/Documents/data/CBGdata"
rowLimit = 200000

df = pd.read_csv(f"{load_path}/{dataset}_unipoc_time_series_cohort_first_{days_n}_days.csv",
                     nrows = rowLimit, header = 0)

In [166]:
# exclude rows based on location
pre_removal_rows = df.shape[0]
exclude_vector = ['dialysis', 'Dialysis Centre - Level 2','renal',
                  'abbott', 'Ketones', 'Lab point of care room -IN',
                  'ARU2 Ketones', 'ED Ketones', 'REndoscopy Unit',
                  'LAB - Sent back to Abbott', 'Biochemistryx',
                  'Renal G6 Dialysis', 'Wd 5B Ketones', 'AAU Ketones',
                  'Dead meters', 'Lab Study room back to abbott',
                  'Health at Heart', 'A&E Ketones', 'IAU Ketones',
                  'MAU Office (Ketone)', 'OLD PXP Meters', 'Wd 6D Ketones',
                  'BIO POOL meters', 'OBSOLETE METERS 2', 'Meterx not found',
                  'X Ray', 'X-ray', 'training', 'staff', 'MAU (Ketone)',
                  'more dead meters',
                  'LOST IN DRUM', 'Labour Suite',
                  'returned', 'obsolete', 'old', 'Meterx',
                  'dead', 'BioChemistry', 'weldon', 'Pre Ass clinic Gen OP',
                  'radiology', 'outpatient', 'rcas', 'Meter not found', 'spare meters',
                  'Labour Ward', 'Neonatal Unit Top Floor']
df = df[~df['loc'].isin(exclude_vector)]
post_removal_rows = df.shape[0]

# df['loc'].unique() ## show all loc values

print(f'{pre_removal_rows - post_removal_rows} rows removed on loc')

id_pre_removal_rows = df.shape[0]
id_exclude_vector = [222222222222222]

df = df[~df['uID'].isin(id_exclude_vector)]
id_post_removal_rows = df.shape[0]

print(f'{id_pre_removal_rows - id_post_removal_rows} rows removed on uID')

4339 rows removed on loc
0 rows removed on uID

In [167]:
# add unique ID by 2 cols - uID and admission vec
df = df.copy()
df['id_gp'] = df.groupby(['uID', 'admission_vec']).ngroup()

In [168]:
# convert to pandas datetime format and generate a day only col
df['datetimeIndex'] = pd.to_datetime(df['datetime'])
df['just_date'] = df['datetimeIndex'].dt.date

In [174]:
df.groupby(['id_gp']).size()
df['admission_days'] = df['just_date'].groupby(df['id_gp']).transform('diff')

In [176]:
df.groupby('id_gp')['just_date'].agg(np.ptp)

id_gp
0      335 days
1      415 days
2      333 days
3      333 days
4      334 days
         ...
2023   334 days
2024   273 days
2025   334 days
2026   304 days
2027   334 days
Name: just_date, Length: 2028, dtype: timedelta64[ns]

In [177]:
df[df['id_gp']==0]

,uID,admission_vector,datetime,Glu,loc,dateTime,unix_dateTime,n_admissions,interval_seconds,interval_days,n,N,new_interval_seconds,admission_vec,id_gp,datetimeIndex,just_date,admission_days
0,101176147,8,18/02/2016 4:17PM,10.4,Immediate Assessment Unit,2016-02-18 16:17:00,1.455812e+09,9.0,2299920,27,1,36,2299920,1,0,2016-02-18 16:17:00,2016-02-18,NaT
1,101176147,8,20/02/2016 6:57AM,4.9,8A,2016-02-20 06:57:00,1.455951e+09,9.0,2299920,27,2,36,2299920,1,0,2016-02-20 06:57:00,2016-02-20,2 days
2,101176147,8,20/02/2016 2:17PM,7.4,8A,2016-02-20 14:17:00,1.455978e+09,9.0,2299920,27,3,36,2299920,1,0,2016-02-20 14:17:00,2016-02-20,0 days
3,101176147,8,20/02/2016 6:50PM,9.8,8A,2016-02-20 18:50:00,1.455994e+09,9.0,2299920,27,4,36,2299920,1,0,2016-02-20 18:50:00,2016-02-20,0 days
4,101176147,8,20/02/2016 11:30PM,11.8,8A,2016-02-20 23:30:00,1.456011e+09,9.0,2299920,27,5,36,2299920,1,0,2016-02-20 23:30:00,2016-02-20,0 days
5,101176147,8,21/02/2016 6:46AM,11.6,8A,2016-02-21 06:46:00,1.456037e+09,9.0,2299920,27,6,36,2299920,1,0,2016-02-21 06:46:00,2016-02-21,1 days
6,101176147,8,21/02/2016 5:52PM,7.0,8A,2016-02-21 17:52:00,1.456077e+09,9.0,2299920,27,7,36,2299920,1,0,2016-02-21 17:52:00,2016-02-21,0 days
7,101176147,8,22/02/2016 1:00AM,8.9,8A,2016-02-22 01:00:00,1.456103e+09,9.0,2299920,27,8,36,2299920,1,0,2016-02-22 01:00:00,2016-02-22,1 days
8,101176147,8,22/02/2016 6:41AM,6.4,8A,2016-02-22 06:41:00,1.456123e+09,9.0,2299920,27,9,36,2299920,1,0,2016-02-22 06:41:00,2016-02-22,0 days
9,101176147,8,23/02/2016 7:40AM,4.7,8A,2016-02-23 07:40:00,1.456213e+09,9.0,2299920,27,10,36,2299920,1,0,2016-02-23 07:40:00,2016-02-23,1 days
10,101176147,8,24/02/2016 7:32AM,5.3,8A,2016-02-24 07:32:00,1.456299e+09,9.0,2299920,27,11,36,2299920,1,0,2016-02-24 07:32:00,2016-02-24,1 days
11,101176147,8,25/02/2016 4:45PM,7.9,8A,2016-02-25 16:45:00,1.456419e+09,9.0,2299920,27,12,36,2299920,1,0,2016-02-25 16:45:00,2016-02-25,1 days
12,101176147,8,26/02/2016 11:00PM,5.6,8A,2016-02-26 23:00:00,1.456528e+09,9.0,2299920,27,13,36,2299920,1,0,2016-02-26 23:00:00,2016-02-26,1 days
13,101176147,8,27/02/2016 7:52AM,5.4,8A,2016-02-27 07:52:00,1.456560e+09,9.0,2299920,27,14,36,2299920,1,0,2016-02-27 07:52:00,2016-02-27,1 days
14,101176147,8,27/02/2016 10:59PM,6.4,8A,2016-02-27 22:59:00,1.456614e+09,9.0,2299920,27,15,36,2299920,1,0,2016-02-27 22:59:00,2016-02-27,0 days
15,101176147,8,28/02/2016 5:58PM,7.2,8A,2016-02-28 17:58:00,1.456682e+09,9.0,2299920,27,16,36,2299920,1,0,2016-02-28 17:58:00,2016-02-28,1 days
16,101176147,8,28/02/2016 10:32PM,9.3,8A,2016-02-28 22:32:00,1.456699e+09,9.0,2299920,27,17,36,2299920,1,0,2016-02-28 22:32:00,2016-02-28,0 days
17,101176147,8,29/02/2016 6:58AM,9.4,8A,2016-02-29 06:58:00,1.456729e+09,9.0,2299920,27,18,36,2299920,1,0,2016-02-29 06:58:00,2016-02-29,1 days
18,101176147,8,01/03/2016 6:47AM,4.1,8A,2016-03-01 06:47:00,1.456815e+09,9.0,2299920,27,19,36,2299920,1,0,2016-01-03 06:47:00,2016-01-03,-57 days
19,101176147,8,01/03/2016 7:53AM,4.1,8A,2016-03-01 07:53:00,1.456819e+09,9.0,2299920,27,20,36,2299920,1,0,2016-01-03 07:53:00,2016-01-03,0 days
20,101176147,8,02/03/2016 5:58AM,6.6,8A,2016-03-02 05:58:00,1.456898e+09,9.0,2299920,27,21,36,2299920,1,0,2016-02-03 05:58:00,2016-02-03,31 days
21,101176147,8,04/03/2016 5:19PM,9.9,54,2016-03-04 17:19:00,1.457112e+09,9.0,2299920,27,22,36,2299920,1,0,2016-04-03 17:19:00,2016-04-03,60 days
22,101176147,8,09/03/2016 4:16PM,11.3,54,2016-03-09 16:16:00,1.457540e+09,9.0,2299920,27,23,36,2299920,1,0,2016-09-03 16:16:00,2016-09-03,153 days
23,101176147,8,10/03/2016 5:31AM,3.9,54,2016-03-10 05:31:00,1.457588e+09,9.0,2299920,27,24,36,2299920,1,0,2016-10-03 05:31:00,2016-10-03,30 days
24,101176147,8,10/03/2016 7:36AM,5.6,54,2016-03-10 07:36:00,1.457595e+09,9.0,2299920,27,25,36,2299920,1,0,2016-10-03 07:36:00,2016-10-03,0 days
25,101176147,8,10/03/2016 4:45PM,4.6,54,2016-03-10 16:45:00,1.457628e+09,9.0,2299920,27,26,36,2299920,1,0,2016-10-03 16:45:00,2016-10-03,0 days
26,101176147,8,11/03/2016 6:59AM,3.8,54,2016-03-11 06:59:00,1.457680e+09,9.0,2299920,27,27,36,2299920,1,0,2016-11-03 06:59:00,2016-11-03,31 days
27,101176147,8,11/03/2016 8:07AM,4.7,54,2016-03-11 08:07:00,1.457684e+09,9.0,2299920,27,28,36,2299920,1,0,2016-11-03 08:07:00,2016-11-03,0 days
28,101176147,8,11/03/2016 3:45PM,14.2,54,2016-03-11 15:45:00,1.457711e+09,9.0,2299920,27,29,36,2299920,1,0,2016-11-03 15:45:00,2016-11-03,0 days
29,101176147,8,12/03/2016 6:39AM,5.2,54,2016-03-12 06:39:00,1.457765e+09,9.0,2299920,27,30,36,2299920,1,0,2016-12-03 06:39:00,2016-12-03,30 days
30,101176147,8,13/03/2016 6:54AM,4.4,54,2016-03-13 06:54:00,1.457852e+09,9.0,2299920,27,31,36,2299920,1,0,2016-03-13 06:54:00,2016-03-13,-265 days
31,101176147,8,13/03/2016 4:21PM,12.0,54,2016-03-13 16:21:00,1.457886e+09,9.0,2299920,27,32,36,2299920,1,0,2016-03-13 16:21:00,2016-03-13,0 days
32,101176147,8,14/03/2016 6:40AM,4.2,54,2016-03-14 06:40:00,1.457938e+09,9.0,2299920,27,33,36,2299920,1,0,2016-03-14 06:40:00,2016-03-14,1 days
33,101176147,8,14/03/2016 4:27PM,6.3,54,2016-03-14 16:27:00,1.457973e+09,9.0,2299920,27,34,36,2299920,1,0,2016-03-14 16:27:00,2016-03-14,0 days
34,101176147,8,15/03/2016 6:38AM,4.4,54,2016-03-15 06:38:00,1.458024e+09,9.0,2299920,27,35,36,2299920,1,0,2016-03-15 06:38:00,2016-03-15,1 days
35,101176147,8,16/03/2016 7:09AM,4.6,54,2016-03-16 07:09:00,1.458112e+09,9.0,2299920,27,36,36,2299920,1,0,2016-03-16 07:09:00,2016-03-16,1 days

In [160]:
df['N'] = df.groupby(['id_gp']).transform('size')
df['min_glu'] = df['Glu'].groupby(df['id_gp']).transform('min')

,uID,admission_vector,datetime,Glu,loc,dateTime,unix_dateTime,n_admissions,interval_seconds,interval_days,n,N,new_interval_seconds,admission_vec,id_gp,datetimeIndex,just_date,min_glu
0,101176147,8,18/02/2016 4:17PM,10.4,Immediate Assessment Unit,2016-02-18 16:17:00,1.455812e+09,9.0,2299920,27,1,36,2299920,1,0,2016-02-18 16:17:00,2016-02-18,3.8
1,101176147,8,20/02/2016 6:57AM,4.9,8A,2016-02-20 06:57:00,1.455951e+09,9.0,2299920,27,2,36,2299920,1,0,2016-02-20 06:57:00,2016-02-20,3.8
2,101176147,8,20/02/2016 2:17PM,7.4,8A,2016-02-20 14:17:00,1.455978e+09,9.0,2299920,27,3,36,2299920,1,0,2016-02-20 14:17:00,2016-02-20,3.8
3,101176147,8,20/02/2016 6:50PM,9.8,8A,2016-02-20 18:50:00,1.455994e+09,9.0,2299920,27,4,36,2299920,1,0,2016-02-20 18:50:00,2016-02-20,3.8
4,101176147,8,20/02/2016 11:30PM,11.8,8A,2016-02-20 23:30:00,1.456011e+09,9.0,2299920,27,5,36,2299920,1,0,2016-02-20 23:30:00,2016-02-20,3.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,407416145,1,10/04/2013 11:50AM,9.2,Ward 64,2013-04-10 11:50:00,1.365591e+09,3.0,1958640,23,98,102,1958640,1,2027,2013-10-04 11:50:00,2013-10-04,2.3
199996,407416145,1,11/04/2013 4:11PM,7.4,Ward 64,2013-04-11 16:11:00,1.365693e+09,3.0,1958640,23,99,102,1958640,1,2027,2013-11-04 16:11:00,2013-11-04,2.3
199997,407416145,1,11/04/2013 9:18PM,11.8,Ward 64,2013-04-11 21:18:00,1.365711e+09,3.0,1958640,23,100,102,1958640,1,2027,2013-11-04 21:18:00,2013-11-04,2.3
199998,407416145,1,12/04/2013 6:57AM,5.9,Ward 64,2013-04-12 06:57:00,1.365746e+09,3.0,1958640,23,101,102,1958640,1,2027,2013-12-04 06:57:00,2013-12-04,2.3
199999,407416145,1,12/04/2013 4:49PM,9.6,Ward 64,2013-04-12 16:49:00,1.365782e+09,3.0,1958640,23,102,102,1958640,1,2027,2013-12-04 16:49:00,2013-12-04,2.3

In [163]:
df['just_date'].groupby(df['id_gp']).transform('size')

0          36
1          36
2          36
3          36
4          36
         ...
199995    102
199996    102
199997    102
199998    102
199999    102
Name: just_date, Length: 195661, dtype: int64